.ava-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/AvaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.bella-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/BellaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.carol-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/CarolPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.diana-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/DianaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.eileen-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/EileenPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }