.ava-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/AvaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.bella-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/BellaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.carol-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/CarolPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.diana-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/DianaPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.diana-pet.jump {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/DianaJump.png');
  background-repeat: repeat-y;
  background-size: 128px 128px;
  background-position: 0 0;
  animation: jump 0.3s steps(3);
}

.diana-pet.drag {
  height: 128px;
  width: 128px;
  position: fixed;
  z-index: 1000;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/DianaDrag.png');
  background-size: 128px 128px;
  background-position: 0 0;
  cursor: -webkit-grab;
}

.eileen-pet {
    height: 128px;
    width: 128px;
    position: fixed;
    z-index: 1000;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/EileenPet128.png');
    background-size: 128px 128px;
    background-position: 0 0;
    cursor: -webkit-grab;
  }

.eileen-pet.jump {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/EileenJump.png');
  background-repeat: repeat-y;
  background-size: 128px 128px;
  background-position: 0 0;
  animation: jump 0.3s steps(3);
}

.eileen-pet.drag {
  height: 128px;
  width: 128px;
  position: fixed;
  z-index: 1000;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/EileenDrag.png');
  background-size: 128px 128px;
  background-position: 0 0;
  cursor: -webkit-grab;
}