* {
  margin: 0;
  padding: 0;
}
#block {
  border-width: 2px;
  border-color: #848b92;
  background-color: #3d7b7b61;
  width: 200px;
  text-align: center;
  /*line-height: 30px;
  height: 150px;*/
  padding: 30px 0 0 0 ;
}

.btn {
  display: block-inline;
  width: 40%;
  padding: 10px 15px;
  border: 0;
  background: rgb(7, 101, 241);
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
btn:visited,
btn:link,
btn:active {
  background: rgb(75, 38, 38);
  text-decoration: none;
}
.progress-container {
  position: relative;
  background-position: left;
  padding-right: 10px;
}

.progress-container progress {
  background-color: #eee;
}

.progress-container progress::-webkit-progress-bar {
  background-color: #eee;
}

.progress-container progress::-webkit-progress-value {
  background-color: red;
}

.progress-container .progress-label {
  position: absolute;
  top: 10px;
  margin: 0;
  left: 65px;
  font-size: 22px;
}


.row {
  display: flex;
  padding: 0;

}

.column {
  flex:60%;
  padding: 100px;
}
